<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.haagahelia.android.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activitytracking.AddActivityActivity"
            android:label="@string/add_activity"
            android:theme="@style/AddEditTheme"
            android:parentActivityName=".challenges.ChallengeDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenges.ChallengeDetailsActivity" />
        </activity>
        <activity
            android:name=".foodtracking.EditFoodActivity"
            android:label="@string/edit_food"
            android:theme="@style/AddEditTheme"
            android:parentActivityName=".foodtracking.FoodJournalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".foodtracking.FoodJournalActivity" />
        </activity>
        <activity
            android:name=".foodtracking.AddFoodActivity"
            android:label="@string/add_food_title"
            android:theme="@style/AddEditTheme"
            android:parentActivityName=".challenges.ChallengeDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenges.ChallengeDetailsActivity" />
        </activity>
        <activity
            android:name=".challenges.EditChallengeActivity"
            android:label="@string/edit_challenge_title"
            android:theme="@style/AddEditTheme"
            android:parentActivityName=".challenges.ChallengeDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenges.ChallengeDetailsActivity" />
        </activity>
        <activity
            android:name=".challenges.ChallengeDetailsActivity"
            android:parentActivityName=".ChallengesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChallengesActivity" />
        </activity>
        <activity
            android:name=".challenges.AddChallengeActivity"
            android:label="@string/add_challenge_title"
            android:theme="@style/AddEditTheme"
            android:parentActivityName=".ChallengesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChallengesActivity" />
        </activity>
        <activity
            android:name=".GoalsMeasurementsActivity"
            android:label="@string/goals_measurement_title" />
        <activity
            android:name=".goalsmeasurements.BmrTeeActivity"
            android:label="@string/bmr_tee_title"
            android:parentActivityName=".GoalsMeasurementsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsMeasurementsActivity" />
        </activity>
        <activity
            android:name=".goalsmeasurements.BmiActivity"
            android:label="@string/bmi_title"
            android:parentActivityName=".GoalsMeasurementsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsMeasurementsActivity" />
        </activity>
        <activity
            android:name=".goalsmeasurements.WeightActivity"
            android:label="@string/weight_title"
            android:parentActivityName=".GoalsMeasurementsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsMeasurementsActivity" />
        </activity>
        <activity
            android:name=".goalsmeasurements.AddWeightActivity"
            android:label="@string/add_weight"
            android:theme="@style/AddEditTheme"
            android:parentActivityName=".goalsmeasurements.WeightActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".goalsmeasurements.WeightActivity" />
        </activity>
        <activity
            android:name=".goalsmeasurements.GoalActivity"
            android:label="@string/goal_title"
            android:parentActivityName=".GoalsMeasurementsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsMeasurementsActivity" />
        </activity>
        <activity android:name=".ChallengesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".foodtracking.FoodJournalActivity">

        </activity>

        <receiver android:name=".AlarmReceiver" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>